header{
    display:flex;
    justify-content: space-between;
    margin:auto 2em;
    padding-top:1em;
    padding-bottom:0.5em;
}
.inputControl{
    display:flex;
    align-items: center;
    gap:2em;
}
.inputControl button{
    border-radius: 0.5em;
    border-color: var(--color--theme);
    color:var(--color--theme);
    font-size:0.8em;
    padding:0.2em 0.8em;
}